WebContent/xml/products.dtd

<!ELEMENT products (category+)>
<!ELEMENT category (subcategory+)>
<!ATTLIST category name CDATA #REQUIRED>
<!ELEMENT subcategory (product+)>
<!ATTLIST subcategory name CDATA #REQUIRED>
<!ELEMENT product (producer,model,date_of_issue,color,(not_in_stock|price))>
<!ELEMENT producer (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT date_of_issue (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT not_in_stock EMPTY>
